.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #5c16c5;
  width: 100%;
  height: 45px;
  display: flex;
}

.navbar ul{
  margin: 12px ;
  display: flex;
  
}

.navbar li {
  list-style: none;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  list-style: none;
  color: #f5a802;
}

.logo-tmdb {
  width: 200px;
  height: auto;
  margin-left: 90px;
}

.info-top {
  background-color: #2d0c5d;
  position: absolute;
  width: 100%;
  height: 250px;
  
}

.info-top h1 {
  font-size: 38px;
  color: white;
  text-align: center;
}

.info-top p {
  font-size: 12px;
  color: white;
  text-align: center;
}

.category-list {
  justify-content: center;
  margin: auto 150px;
  display: flex;
  flex-wrap: wrap;
}

.category-button {
  min-width: 70px;
  height: 32px;
  color: #1d1d1d;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;
}

.category-button:checked {
  cursor: pointer;
  background-color: #f5a802;
}

.filmes-container {
  display: flex;
  margin: auto 30px;
  justify-content: center;
  margin-top: 275px;
  max-width: 100%; 
  overflow-x: hidden;
  flex-wrap: wrap;
  cursor: pointer;
}

.filmes-container p {
  justify-content: left;
  text-align: left;
  margin: 5px auto;
  max-width: fit-content;
}

.movie-info {
  display: flex;
  flex-direction: column;
  color: #1d1d1d;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  text-overflow: hidden;
}

img {
  height: 250px;
  width: 160px; 
}

.movie-date {
  color: #646464;
  }

  .details-container {
    max-width: 300px;
  }

.homepage {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

.details-header {
  background-color: #2d0c5d;
  color: white;
  display: flex;
  flex-direction: column; 
}

.details-section {
  display: flex;
}

.summary {
  display: flex;
}